<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!-- Include footer partial-->
    {{> header}}
    <p>Some Text here</p>

    <!-- Include footer partial-->
    {{> footer}}
  </body>
</htm>
