<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!-- Include header partial-->
    {{> header}}
    <!-- method call with functions-->
    <p>{{screamIt welcomeMessage}}</p>
    <!-- Include footer partial-->
    {{> footer}}
  </body>
</htm>
